<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/confirmcar.css">

    <title>ยืนยันการจอง</title>
</head>
<body>

    <header>
        <h2>เช่ารถ</h2>
    </header>

    <div id="main">

        <h1>ข้อมูลการจอง</h1>

        <div id="car-for-choose">
            <table class="table">
                <thead>
                  <tr class="tableHead">
                    <th scope="col">#</th>
                    <th scope="col">Car brands</th>
                    <th scope="col">Car series</th>
                    <th scope="col">Car Codes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <th scope="row">1</th>
                    <td>Toyotu</td>
                    <td>Altus</td>
                    <td>C01</td>
                  </tr>
                  <tr class="test">
                    <th scope="row">2</th>
                    <td>Mazdu</td>
                    <td>Mazdu 3</td>
                    <td>C02</td>
                  </tr>
                  <tr >
                    <th scope="row" class="test">3</th>
                    <td class="test">Hondu</td>
                    <td class="test">Citu</td>
                    <td class="test">C03</td>
                  </tr>
                </tbody>
              </table>
            <!--<img src="./car.png" alt="" class="car-picture " style="align-items: center;">-->

            <!--<u class="car-detail">
                <li><p>Detail</p></li>
                <li><p>รุ่น: XXXX</p></li>
                <li><p>ราคา: XXXX</p></li>
            </ul>-->
</div>

          <div class="wrapperForm">
            <form id="information-input" action="/carcon1" method="post">
                <label for="fname">ชื่อจริง:</label><br>
                <input type="text" id="fname" name="fname" placeholder="นาย...." value=""><br><br>
                <label for="lname">นามสกุล:</label><br>
                <input type="text" id="lname" name="lname" placeholder="นามสกุล" value=""><br><br>
                <label for="lname">เบอร์โทรศัพท์:</label><br>
                <input type="text" id="pnumber" placeholder="098...." name="pnumber"><br><br>
                <label for="fname">เลือกวันรับรถ:</label><br>
                <input type="text" id="date" name="datepicker" placeholder="เช่น 3/13/2022"><br><br>
                <!--<label for="lname">เลือกวันคืนรถ:</label><br>
                <input class="datepicker" data-date-format="mm/dd/yyyy"id="returndate">-->
                <label for="exampleFormControlSelect2">รุ่นรถ :</label><br>
                <input type="text" id="date" name="carbrand" placeholder="เช่น : C02,C03"><br><br>
                <input type="submit" class="btn">
            </form>
        </div>

    </div>
    
</body>
</html>