<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/choosecar.css">
    <title>เลือกรถ</title>
</head>
<body>

    <header>
        <h2>เช่ารถ</h2>
    </header>

    <div id="main">

        <h1>เลือกรถ</h1>

        <div id="car-for-choose">

             <div class="each-car-for-choose car1">
                <img src="./img/car.png" alt="" class="car-picture">

                <u class="car-detail">
                    <li><p>Detail</p></li>
                    <li><p>รุ่น: XXXX</p></li>
                    <li><p>ราคา: XXXX</p></li>
                </ul>

                <a href="confirmcar.html" class="pick-btn"><p>จอง</p></a>
             </div>

             <div class="each-car-for-choose car2">
                <img src="./img/car.png" alt="" class="car-picture">

                <u class="car-detail">
                    <li><p>Detail</p></li>
                    <li><p>รุ่น: XXXX</p></li>
                    <li><p>ราคา: XXXX</p></li>
                </ul>

                <a href="confirmcar" class="pick-btn"><p>จอง</p></a>
            </div>

            <div class="each-car-for-choose car3">
                <img src="./img/car.png" alt="" class="car-picture">

                <u class="car-detail">
                    <li><p>Detail</p></li>
                    <li><p>รุ่น: XXXX</p></li>
                    <li><p>ราคา: XXXX</p></li>
                </ul>

                <a href="confirmcar" class="pick-btn"><p>จอง</p></a>
            </div>

        </div>

    </div>
    
</body>
</html>