<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/dashboard.css">
    <title>หน้าหลัก</title>
</head>
<body>

    <header>
        <h2>เช่ารถ</h2>
    </header>

    <div id="main">

        

        <div id="dashboard">


            <a href="choosecar.html" class="homebtn choosebtn"><p>เลือกรถที่ต้องการเช่า</p></a>
            <a href="#" class="homebtn logoutbtn"><p>ออกจากระบบ</p></a>

            <div class="profile">

            </div>

            <ul id="user-infor">
                <li><p>ชื่อ: xxxxx</p></li>
                <li><p>นามสกุล: xxxx</p></li>
                <li><p>เบอร์โทรศัพท์: xxxx</p></li>
            </ul>



            <h4>ประวัติการเช่ารถ </h4>

            <div id="rent-history">
                 
                <div class="each-history">
                    <img src="./img/car.png" alt="" class="car-picture">

            <br><br>
                    <ul id="car-history-detail">
                        <li><p>รุ่น: xxxx</p></li>
                        <li><p>วันที่จอง: xxxx</p></li>
                        <li><p>วันที่รับ: xxxx</p></li>
                        <li><p>สถานะ: xxxx</p></li>
                    </ul>
                </div>

                <div class="each-history">
                    <img src="./img/car.png" alt="" class="car-picture">

            <br><br>
                    <ul id="car-history-detail">
                        <li><p>รุ่น: xxxx</p></li>
                        <li><p>วันที่จอง: xxxx</p></li>
                        <li><p>วันที่รับ: xxxx</p></li>
                        <li><p>สถานะ: xxxx</p></li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
    
</body>
</html>