@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Mitr", sans-serif;
  list-style-type: none;
}

#alert-btn {
    color: red;
}
a:active{
    list-style-type: none;
    color: red;
}