@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Mitr", sans-serif;
  list-style-type: none;
}

header {
    background-color: rgb(255, 197, 72);
    width: 100vw;
    height: 40px;
    position: absolute;
    top: 0;
    text-align: center;
    padding-top: 10px;
  }
  
h2 {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
}

#main{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#main h1{
    text-align: center;
    position: absolute;
    top: 10%;
    width: 20%;
    left: 40%;
    font-weight: 500;
}

#car-for-choose{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 0 0 10px 10px;
}

table {
    padding: 20px;
    border-collapse: collapse;
}

.car-detail li{
    position: relative;
    list-style: none;
    height: auto;
    top: 15%;
    left: 47%;
}

.tableHead {
    background-color: rgb(255, 197, 72);
}

th {
    font-weight: 400 !important;
}

td {
    font-weight: 300;
}

th, td {
    border-bottom: 2px solid black;
    padding: 10px;
}

.test {
    border: 0;
}


.wrapperForm {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* margin-top: 10%; */
    margin-bottom: 3%;
}


input {
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
    padding: 3px;
    transition: .3s;
    margin-bottom: -10px;
}

input:focus {
    outline: none;
    border: 1px solid rgb(255, 197, 72);
}

.btn {
    /* width: fit-content; */
    background-color: rgb(255, 197, 72);
    border: 0;
    transition: .4s;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(255, 207, 104);
}
